bin/*
inc/*.o
inc/*.bin
inc/*.elf
lib/*.o
lib/*.bin
lib/*.elf
lib/*.o
lib/*.bin
lib/*.elf
src/*.o
src/*.bin
src/*.elf
sup/*.o
sup/*.bin
sup/*.elf
sup/index.html
doc/*.o
doc/*.bin
doc/*.elf
doc/*.html
*.log
*.ini
*.bin
*.map
